

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="">

  <h1>Make an Account</h1>

  <label for="username">New Username: </label>
  <input id="username" type="text" name="user[username]">

  <br><br>

  <label for="password">New Password (not starwars): </label>
  <input id="password" type="password" name="user[password]">

  <br><br>

  <input type="submit" name="" value="Sign Up!">

</form>
