<h1>All Subs</h1>

<ul>
  <% @subs.each do |subreddit| %>
    <li>
      <a href="<%= sub_url(subreddit) %>">
        <%= subreddit.title %>
      </a>
    </li>
  <% end %>
</ul>

<a href="<%= new_sub_url %>">Create New Sub</a>
